// Place all the styles related to the coaching controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
  text-align: center;
  margin-top: 200px;
}

#question {
  margin-left: 575px;
  width: 20%;
}
